* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-container {
  color: #fff;
  background-color: #5995da;
  padding: 20px 0;
}

.menu {
  /* border: 1px solid #fff; */
  width: 900px;
}
