@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
  --white-color: #fff;
  --purple-color: #6c63ff;
  --black-color: #000;
  --light-purple-color: #dad8ffde;
  --gray-color: #adadad;
  --shadow-button-purple-color: #9296ff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* body {
  margin: 0px 150px;
} */

.home-picture,
nav,
.container-home,
.container-content {
  padding: 0px 120px;
}

.home-picture img {
  width: 650px;
  height: 700px;
  position: absolute;
  right: 0px;
  top: 0px;
}

/* NAVBAR */
nav {
  position: sticky;
  top: 0;
  /* margin-top: 32px; */
  /* padding: 20px 0; */
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 2;
}

.logo img {
  display: flex;
  height: 40px;
  width: 125px;
}

nav .divider {
  margin: 0px 40px;
  height: 32px;
  border: 1px solid black;
  background-color: #000;
}

nav .shadow-container-nav {
  flex: 2;
}

nav .links {
  display: flex;
  gap: 40px;
}

.links a {
  color: black;
  font-weight: 500;
  font-size: 16px;
}

.links a:hover {
  color: #6c63ff;
}

.button-navbar {
  border: 0px solid var(--purple-color);
  background-color: var(--purple-color);
  border-radius: 16px;
  padding: 8px 42px;
  color: white;
  font-weight: 500;
  font-size: 16px;
  box-shadow: rgba(108, 99, 255, 0.4) 0px 0px 48px;
}

.button-navbar a {
  color: white;
}
/* .button-navbar:hover {
  box-shadow: rgba(108, 99, 255, 0.3) 0px 0px 32px;
} */
/* NAVBAR */

/* HOME PAGE */
.container-home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.container-home .title {
  width: 600px;
  font-size: 44px;
  font-weight: 600;
}

.container-home .sub-title {
  margin-top: 20px;
  width: 500px;
  font-size: 20px;
  color: var(--gray-color);
}

.button-primary-home a {
  color: white;
}

.button-second-home a {
  color: var(--purple-color);
}

.container-home .button-container-home {
  display: flex;
  margin-top: 60px;
  gap: 40px;
}

.container-home .button-container-home .button-primary-home {
  border: 0px solid var(--purple-color);
  background-color: var(--purple-color);
  border-radius: 16px;
  padding: 10px 42px;
  color: white;
  font-weight: 500;
  font-size: 16px;
  box-shadow: rgba(108, 99, 255, 0.4) 0px 0px 48px;
}

.container-home .button-container-home .button-second-home {
  border: 2px solid var(--purple-color);
  background-color: white;
  border-radius: 16px;
  padding: 10px 42px;
  color: var(--purple-color);
  font-weight: 500;
  font-size: 16px;
  box-shadow: rgba(108, 99, 255, 0.4) 0px 0px 48px;
}
/* HOME PAGE */

/* CONTENT PAGE-1 */
.container-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 110vh;
  background-color: var(--light-purple-color);
}

.container-content .container-content-title {
  width: 380px;
  font-weight: 600;
  font-size: 38px;
  text-align: center;
  margin-bottom: 60px;
}

.container-content .container-content-card {
  display: flex;
  gap: 40px;
}

.container-content-card .card1,
.container-content-card .card2,
.container-content-card .card3,
.container-content-card .card4 {
  width: 260px;
  height: 350px;
  /* border: 1px solid black; */
  background-color: white;
  border-radius: 20px;
}

.container-content .container-content-card .card1 {
  background-size: contain;
  background-image: url("assets/images/card-1.png");
}

.container-content .container-content-card .card2 {
  background-size: contain;
  background-image: url("assets/images/card-2.png");
}

.container-content .container-content-card .card3 {
  background-size: contain;
  background-image: url("assets/images/card-3.png");
}

.container-content .container-content-card .card4 {
  background-size: contain;
  background-image: url("assets/images/card-4.png");
}

.container-content-card .card1 .card1-desc,
.container-content-card .card2 .card2-desc,
.container-content-card .card3 .card3-desc,
.container-content-card .card4 .card4-desc {
  width: 100%;
  height: 50%;
  background-color: white;
  border-radius: 0px 0px 20px 20px;
  top: 175px;
  position: relative;
}

/* CARD-1 */
.container-content-card .card1 .card1-desc .card1-desc-title {
  font-size: 18px;
  font-weight: 500;
  margin-top: 20px;
}

.container-content-card .card1 .card1-desc .card1-desc-price {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 8px;
  margin-top: 10px;
}

.container-content-card .card1 .card1-desc .card1-desc-price .card1-price-now {
  color: #adadad;
}

.container-content-card .card1 .card1-desc .card1-desc-wrapper {
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  height: 100%;
  padding: 0px 20px;
}

.container-content-card
  .card1
  .card1-desc
  .card1-desc-wrapper
  .card1-progress-bar {
  height: 8px;
  width: 100%;
  border-radius: 20px;
  background-color: #e5e5e5;
}

.container-content-card
  .card1
  .card1-desc
  .card1-desc-wrapper
  .card1-progress-now {
  height: 8px;
  width: 60%;
  border-radius: 20px;
  background-color: var(--purple-color);
}

.container-content-card
  .card1
  .card1-desc
  .card1-desc-wrapper
  .card1-shadow-container {
  flex: 1;
}

.container-content-card
  .card1
  .card1-desc
  .card1-desc-wrapper
  .card1-desc-button {
  margin-bottom: 20px;
  justify-self: flex-end;
  border: 0px solid var(--purple-color);
  background-color: var(--purple-color);
  border-radius: 16px;
  padding: 8px;
  color: white;
  font-weight: 500;
  font-size: 14px;
  box-shadow: rgba(108, 99, 255, 0.4) 0px 0px 48px;
}
/* CARD-1 */

/* CARD-2 */
.container-content-card .card2 .card2-desc .card2-desc-title {
  font-size: 18px;
  font-weight: 500;
  margin-top: 20px;
}

.container-content-card .card2 .card2-desc .card2-desc-price {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 8px;
  margin-top: 10px;
}

.container-content-card .card2 .card2-desc .card2-desc-price .card2-price-now {
  color: #adadad;
}

.container-content-card .card2 .card2-desc .card2-desc-wrapper {
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  height: 100%;
  padding: 0px 20px;
}

.container-content-card
  .card2
  .card2-desc
  .card2-desc-wrapper
  .card2-progress-bar {
  height: 8px;
  width: 100%;
  border-radius: 20px;
  background-color: #e5e5e5;
}

.container-content-card
  .card2
  .card2-desc
  .card2-desc-wrapper
  .card2-progress-now {
  height: 8px;
  width: 10%;
  border-radius: 20px;
  background-color: var(--purple-color);
}

.container-content-card
  .card2
  .card2-desc
  .card2-desc-wrapper
  .card2-shadow-container {
  flex: 1;
}

.container-content-card
  .card2
  .card2-desc
  .card2-desc-wrapper
  .card2-desc-button {
  margin-bottom: 20px;
  justify-self: flex-end;
  border: 0px solid var(--purple-color);
  background-color: var(--purple-color);
  border-radius: 16px;
  padding: 8px;
  color: white;
  font-weight: 500;
  font-size: 14px;
  box-shadow: rgba(108, 99, 255, 0.4) 0px 0px 48px;
}
/* CARD-2 */

/* CARD-3 */
.container-content-card .card3 .card3-desc .card3-desc-title {
  font-size: 18px;
  font-weight: 500;
  margin-top: 20px;
}

.container-content-card .card3 .card3-desc .card3-desc-price {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 8px;
  margin-top: 10px;
}

.container-content-card .card3 .card3-desc .card3-desc-price .card3-price-now {
  color: #adadad;
}

.container-content-card .card3 .card3-desc .card3-desc-wrapper {
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  height: 100%;
  padding: 0px 20px;
}

.container-content-card
  .card3
  .card3-desc
  .card3-desc-wrapper
  .card3-progress-bar {
  height: 8px;
  width: 100%;
  border-radius: 20px;
  background-color: #e5e5e5;
}

.container-content-card
  .card3
  .card3-desc
  .card3-desc-wrapper
  .card3-progress-now {
  height: 8px;
  width: 30%;
  border-radius: 20px;
  background-color: var(--purple-color);
}

.container-content-card
  .card3
  .card3-desc
  .card3-desc-wrapper
  .card3-shadow-container {
  flex: 1;
}

.container-content-card
  .card3
  .card3-desc
  .card3-desc-wrapper
  .card3-desc-button {
  margin-bottom: 20px;
  justify-self: flex-end;
  border: 0px solid var(--purple-color);
  background-color: var(--purple-color);
  border-radius: 16px;
  padding: 8px;
  color: white;
  font-weight: 500;
  font-size: 14px;
  box-shadow: rgba(108, 99, 255, 0.4) 0px 0px 48px;
}
/* CARD-3 */

/* CARD-4 */
.container-content-card .card4 .card4-desc .card4-desc-title {
  font-size: 18px;
  font-weight: 500;
  margin-top: 20px;
}

.container-content-card .card4 .card4-desc .card4-desc-price {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 8px;
  margin-top: 10px;
}

.container-content-card .card4 .card4-desc .card4-desc-price .card4-price-now {
  color: #adadad;
}

.container-content-card .card4 .card4-desc .card4-desc-wrapper {
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  height: 100%;
  padding: 0px 20px;
}

.container-content-card
  .card4
  .card4-desc
  .card4-desc-wrapper
  .card4-progress-bar {
  height: 8px;
  width: 100%;
  border-radius: 20px;
  background-color: #e5e5e5;
}

.container-content-card
  .card4
  .card4-desc
  .card4-desc-wrapper
  .card4-progress-now {
  height: 8px;
  width: 95%;
  border-radius: 20px;
  background-color: var(--purple-color);
}

.container-content-card
  .card4
  .card4-desc
  .card4-desc-wrapper
  .card4-shadow-container {
  flex: 1;
}

.container-content-card
  .card4
  .card4-desc
  .card4-desc-wrapper
  .card4-desc-button {
  margin-bottom: 20px;
  justify-self: flex-end;
  border: 0px solid var(--purple-color);
  background-color: var(--purple-color);
  border-radius: 16px;
  padding: 8px;
  color: white;
  font-weight: 500;
  font-size: 14px;
  box-shadow: rgba(108, 99, 255, 0.4) 0px 0px 48px;
}
/* CARD-4 */

/* CONTENT PAGE-1 */

/* CONTENT PAGE-2 */
.container-content2 {
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.container-content2 .quotes {
  width: 1000px;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 24px;
}

.container-content2 .quotes b {
  font-weight: 600;
  color: var(--purple-color);
}

.container-content2 .quotes-person {
  width: 1000px;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 24px;
}
/* CONTENT PAGE-2 */

/* CONTENT PAGE-3 */
.container-content3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: var(--light-purple-color);
  display: flex;
}

.container-content3 .content3-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 360px;
  width: 960px;
  padding: 24px;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(255, 255, 255, 0.6) 0px 0px 48px;
}

.container-content3 .content3-wrapper .title {
  font-weight: 500;
  font-size: 28px;
}

.container-content3 .content3-wrapper .subtitle {
  font-weight: 400;
  font-size: 16px;
  color: var(--gray-color);
}

.container-content3 .content3-wrapper .form-wrapper {
  display: flex;
}

/* .container-content3 .content3-wrapper .form-wrapper .button-form {
  border: 0px solid var(--purple-color);
  background-color: var(--purple-color);
  border-radius: 16px;
  padding: 8px 42px;
  color: white;
  font-weight: 500;
  font-size: 16px;
  box-shadow: rgba(108, 99, 255, 0.4) 0px 0px 48px;
} */

/* CONTENT PAGE-3 */

.footer-title {
  font-size: 16px;
  font-weight: 600;
}

.footer-subtitle {
  font-size: 12px;
  color: #adadad;
}

footer {
  margin: 0px 120px;
  background-color: white;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border-top: 1px solid var(--gray-color); */
}
